
body {
    background: black;
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    transition: 0.5s;
    border: none;
}

button.active {
    border-radius: 50%;
}